# Specific files
config.py
setup.py

# Working directories
**/dev
**/old
**/__pychache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc


# Distribution/packaging
.Python
template.py
submodule_window.py

# Miscellaneous files
LICENSE
README.md
